/*
PixGridder default front stylesheet
Description: this skin supports until 12 columns, if you want to run more than these or edit something (margins, widths etc.), create a new file called "gridder.css" and put it into your theme folder
Author: Manuel Masia | Pixedelic
*/

@import "compass";

@mixin animation($name, $duration, $ease) {
	-webkit-animation: $name $duration $ease;
	-moz-animation: $name $duration $ease;
	-o-animation: $name $duration $ease;
	-ms-animation: $name $duration $ease;
	animation: $name $duration $ease;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} { @content; }
	@-moz-keyframes #{$name} { @content; }
	@-o-keyframes #{$name} { @content; }
	@-ms-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}

@include keyframes(pixzoomed) {
	100% { 
		@include scale( 1 );
	}
}
@include keyframes(pixfadetranslated) {
	100% { 
		@include translate( 0,0 );
	}
}
@include keyframes(pixrotatouted) {
	100% { 
		@include rotate( 0deg );
	}
}

$bg: transparent;
$max-width: 100;
$grid-columns: 12;
$gutter-w: 3;
$gutter-h: 3;
$grid-padd: 0;
$unit: 1%;

.pixgridder {
	.row {
		clear: both;
		display: block;

		&:after, &:before {
			content: '';
			display: table;
		}

		&:after {
			clear: both;
		}
	}

	.column:first-child {
		margin-left: 0;
	}

	.column {
		background: $bg;
		@include box-sizing(border-box);
		float: left;
		margin-left: $gutter-w * $unit;
		margin-bottom: $gutter-h * $unit;
		padding: $grid-padd * $unit;

		img {
			height: auto;
			max-width: $max-width * $unit;
		}
	}
}

body.pix-scroll-load {
	.column {
		opacity: 0;

		&.pix-loaded {
			opacity: 1!important;
			@include transition(opacity 500ms ease-in-out);
			-webkit-backface-visibility: hidden;
			-webkit-perspective: 1000;

			&.pix-zoomed {
				@include animation(pixzoomed, 350ms, ease-in-out);
			}
			&.pix-fadeTranslated {
				@include animation(pixfadetranslated, 350ms, ease-in-out);
			}
			&.pix-rotatOuted {
				@include animation(pixrotatouted, 350ms, ease-in-out);
			}

		}
	}
	.column.pix-loaded-inanim {
		opacity: 1;
	}

}



@for $i from 1 through $grid-columns {
	@for $ii from 1 through $i {
		.pixgridder [data-cols="#{$i}"] [data-col="#{$ii}"] {
			@if $ii == $i {
				width: ( ( ( $max-width - 0 ) / $i ) * $ii ) * $unit;
			} @else {
				width: ( ( ( $max-width - ( $gutter-w * ( ($i/$ii) - 1 ) ) ) / $i ) * $ii ) * $unit;
			}
			@media (max-width: 768px) {
				margin-left: 0;
				width: 100%;
			}
		}
	}

}


