a, button, input {
	outline: 0!important;
}
.overflow_hidden {
	overflow: hidden;
}
.wp-dialog.pix-dialog {
	border: 0!important;
	border-radius: 3px!important;
	border-bottom-left-radius: 0!important;
	border-bottom-right-radius: 0!important;
	padding: 0 10px;
	position: fixed;
}
.wp-dialog.pix-dialog .ui-dialog-titlebar {
	background: #dedede!important;
	border-bottom: 1px solid #bbbbbb!important;
	-webkit-border-top-left-radius: 3px!important;
	border-top-left-radius: 3px!important;
	-webkit-border-top-right-radius: 3px!important;
	border-top-right-radius: 3px!important;
	color: #444444!important;
	font-family: 'OpenSans';
	font-size: 13px!important;
	font-weight: 600!important;
	line-height: 18px!important;
	margin: 0 -10px 1em!important;
	padding: 1em!important;
	text-transform: uppercase!important;
}
.ui-dialog.wp-dialog.pix-dialog .ui-dialog-title {
	float: left!important;
	margin: 0!important;
	white-space: nowrap!important;
	width: 100%!important;
	overflow: hidden!important;
	text-overflow: ellipsis!important;
}
.wp-dialog.pix-dialog .ui-dialog-titlebar-close {
	-webkit-appearance: none!important;
	background: transparent!important;
	color: #444444!important;
	cursor: pointer!important;
	border: 0!important;
	font-family: 'pixgridderfontello'!important;
	font-size: 13px!important;
	height: 45px!important;
	line-height: 45px!important;
	margin: 0!important;
	position: absolute!important;
	right: 0!important;
	text-align: center!important;
	top: 2px!important;
	width: 45px!important;
	-webkit-transition: all 100ms linear!important;
	transition: all 100ms linear!important;
}
.wp-dialog.pix-dialog .ui-dialog-titlebar-close:after {
	content: '\ec2a';
	display: block;
	left: 0;
	line-height: 45px;
	position: absolute;
	top: 0;
	width: 100%;
}
.wp-dialog.pix-dialog .ui-dialog-titlebar-close:hover {
	font-size: 17px!important;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.wp-dialog.pix-dialog .ui-dialog-titlebar-close:active {
	font-size: 13px!important;
}
.wp-dialog.pix-dialog a {
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	outline: 0!important;
}
.ui-dialog.wp-dialog.pix-dialog .ui-dialog-buttonpane {
	margin: 0!important;
}
.ui-dialog.wp-dialog.pix-dialog .ui-dialog-buttonpane button.ui-dialog-titlebar-edit {
	-webkit-appearance: none!important;
	background: #05aed8!important;
	border: 0!important;
	-moz-border-radius: 4px!important;
	-webkit-border-radius: 4px!important;
	border-radius: 4px!important;
	color: #ffffff!important;
	cursor: 0!important;
	font-family: 'pixgridderfontello'!important;
	font-size: 18px!important;
	height: 40px!important;
	line-height: 35px!important;
	margin: 0 -12px 5px 0!important;
	width: 60px!important;
	-webkit-transition: all 75ms linear!important;
	transition: all 75ms linear!important;
}
.ui-dialog.wp-dialog.pix-dialog .ui-dialog-buttonpane button.ui-dialog-titlebar-edit:hover {
	background: #ec5f24!important;
}
.ui-dialog.wp-dialog.pix-dialog .ui-dialog-buttonpane button.ui-dialog-titlebar-edit:active {
	-webkit-transform: scale(0.88);
	transform: scale(0.88);
}
.ui-dialog.wp-dialog.pix-dialog .ui-dialog-buttonpane button.ui-dialog-titlebar-edit:after {
	content: '\ecc3';
}
.pix-page-builder-id label {
	display: inline-block;
	font-weight: 600;
	line-height: 1em;
	margin-top: 1.5em;
}
.pix-page-builder-id input[data-use] {
	background-color: #eeeeee;
	border: 0;
	border-top: 1px solid #cbcbcb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	height: 44px;
	line-height: 44px;
	margin-top: 10px;
	padding: 0 2px;
	text-indent: 5px;
	width: 99%;
	-webkit-transition: background-color 150ms linear;
	-moz-transition: background-color 150ms linear;
	-o-transition: background-color 150ms linear;
	-ms-transition: background-color 150ms linear;
	transition: background-color 150ms linear;
}


#pix_builder_canvas select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: inline-block;
	font-family: 'OpenSans';
    font-weight: normal;
    height: 38px!important;
    margin: 0;
    outline: 0!important;
    padding: 10px 15px;
	-webkit-padding-end: 35px;
	opacity: 0;
	position: relative;
	z-index: 1;
}
#pix_builder_canvas select:focus {
	background-clip: padding-box;
	background-color: #ededed;
	border: 1px solid #cbcbcb;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-moz-box-shadow: inset 0 1px 1px #fff;
	-webkit-box-shadow: inset 0 1px 1px #fff;
	box-shadow: inset 0 1px 1px #fff;
	color: #464646;
    outline: 0!important;
}
#pix_builder_canvas span.for_select {
	float: left;
	margin: 4px 0 0 4px;
	background-clip: padding-box;
	background-color: #ededed;
	border: 1px solid #cbcbcb;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #464646;
	position: relative;
}
#pix_builder_canvas span.for_select span.appended {
	left: 15px;
	line-height: 38px;
	position: absolute;
}
#pix_builder_canvas span.for_select:after {
    content: '\ea3d';
	font-family: 'pixgridderfontello';
    line-height: 38px;
	position: absolute;
    right: 10px;
    top: 0px;
    z-index: 0;
}
#tempContent {
	display: none!important;
}
.pix_body_builder #wp-content-editor-container, 
.pix_body_builder #post-status-info,
.pix_body_builder #wp-content-editor-tools #content-html,
.pix_body_builder #wp-content-editor-tools #content-tmce,
.pix_body_builder #wp-content-media-buttons,
.pix_body_builder #content_toolbargroup > span,
.pix_body_builder #content-resize-handle {
	display: none;
}
.pix_body_builder.builder_no_preview #wp-content-editor-tools #pix-content-preview {
	display: none;
}
.pix_body_builder #content_toolbargroup {
	height: 43px;
}
.builder-active .switch-builder,
.preview-active .switch-preview {
	border-color: #d1d1d1 #d1d1d1 #f4f4f4;
	background: #f4f4f4;
	color: #333333;
}
#pix_builder_preview {
	overflow: hidden;
	padding-bottom: 20px;
	position: relative;
	width: 100%!important;
}
#pix_builder_preview_resizer {
	background-color: #eaeaea;
	bottom: 0;
	height: 20px;
	position: absolute;
	width: 100%;
}
#pix_builder_preview_resizer .pix_canvas_handle {
	background: url('../images/resize.gif') no-repeat right bottom;
	cursor: se-resize;
	display: block;
	float: right;
	height: 20px;
	width: 20px;
}
@media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
	#pix_builder_preview_resizer .pix_canvas_handle {
		background: url('../images/resize-2x.gif') no-repeat right bottom;
		background-size: 11px 11px;
	}
}
.pix_builder_header {
	border-bottom: 1px solid #d1d1d1;
	background: #eeeeee;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#e5e5e5),to(#f4f4f4));
	background-image: -webkit-linear-gradient(bottom,#e5e5e5,#f4f4f4);
	background-image: -moz-linear-gradient(bottom,#e5e5e5,#f4f4f4);
	background-image: -o-linear-gradient(bottom,#e5e5e5,#f4f4f4);
	background-image: linear-gradient(to top,#e5e5e5,#f4f4f4);
	color: #323232;
	display: block;
	font-family: 'OpenSans';
	font-size: 18px;
	font-weight: 300;
	height: 25px;
	line-height: 25px;
	padding: 10px 20px;
	text-align: left;
}
#pix_builder_canvas {
	background-color: #fafafa;
	border-top: 2px solid #eeeeee;
	display: block;
	overflow: hidden;
}
.pix_section_builder_highlight {
	background: #eeeeee;
	border: 1px dashed #cccccc;
	border-left: 0;
	border-right: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 325px;
	margin: 10px 0;
	width: 100%;
}
.pix_section_builder {
	margin: 10px -1px 0;
}
.pix_section_header,
.pix_section_footer {
	background: #eeeeee;
	border: 1px solid #cccccc;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'OpenSans';
	font-weight: 400;
	height: 50px;
	position: relative;
}
.pix_section_header > div,
.pix_section_footer > div {
	background: #eeeeee;
	border: 1px solid #cccccc;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 28px;
	height: 50px;
	line-height: 47px;
	position: absolute;
	text-align: center;
	top: -1px;
	-webkit-transition: background 75ms linear;
	transition: background 75ms linear;
	width: 50px;
}
.pix_last_section.pix_last_section {
	margin-bottom: -1px;
}
.pix_section_header > div:hover,
.pix_section_footer > div:hover {
	background: #cccccc;
	border-color: #b0b0b0;
}
.pix_section_header > div.pix_section_error {
	display: none;
	background: #eeeeee!important;
	border-color: #cccccc!important;
	cursor: default!important;
}
.pix_section_header > .pix_section_mover {
	cursor: move;
	left: -1px;
}
.pix_section_header > .pix_section_error {
	color: #eb3e22;
	right: 97px;
}
.pix_section_header > .pix_section_id {
	right: 48px;
}
.pix_section_header > .pix_section_clone {
	font-size: 24px;
	right: -1px;
}
.pix_section_header > .pix_add_section {
	left: 50%;
	margin-left: -25px;
}
.pix_section_body {
	background: #3c3c3c;
	border: 1px solid #000000;
	height: 223px;
	overflow: hidden;
	padding: 0 24px;
}
.pix_section_body_wrap {
	position: relative;
	width: 100%;
}
#pix_builder_canvas .select_wrap.pix_section_template {
	font-size: 14px;
	margin: 4px;
}
#pix_builder_canvas .select_wrap select.pix_section_template,
#pix_builder_canvas .select_wrap.pix_section_template .select_fake {
	height: 38px;
	line-height: 38px;
}
.pix_section_delete {
	right: -1px;
}
.pix_builder_column {
	background: #3c3c3c;
	border: 1px solid #000000;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 225px;
	float: left;
	margin: -1px -1px -1px 0;
	position: relative;
}
.pix_clone_column,
.pix_clone_section {
	display: none;
}
.pix_builder_column.pix_column_active {
	background: #5a5a5a;
}
.pix_builder_column.pix_column_builder_highlight {
	background: #252525;
}
.pixgridder_generated .pix_section_builder .pix_builder_column[data-col] {
	-webkit-transition: width 300ms ease-in-out;
	transition: width 300ms ease-in-out;
}
.pix_builder_column[data-col="0"] {
	width: 0;
}
/*.pix_section_builder[data-cols="4"] .pix_builder_column[data-col="1"] {
	width: 25%;
}
.pix_section_builder[data-cols="4"] .pix_builder_column[data-col="2"] {
	width: 50%;
}
.pix_section_builder[data-cols="4"] .pix_builder_column[data-col="3"] {
	width: 75%;
}
.pix_section_builder[data-cols="4"] .pix_builder_column[data-col="4"] {
	width: 100%;
}
.pix_section_builder[data-cols="3"] .pix_builder_column[data-col="1"] {
	width: 33.3%;
}
.pix_section_builder[data-cols="3"] .pix_builder_column[data-col="2"] {
	width: 66.6%;
}
.pix_section_builder[data-cols="3"] .pix_builder_column[data-col="3"] {
	width: 100%;
}*/
.pix_builder_column .pix-ui {
	background: #3c3c3c;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	height: 36px;
	line-height: 35px;
	position: absolute;
	text-align: center;
	-webkit-transition: background 75ms linear;
	transition: background 75ms linear;
	width: 36px;
	z-index: 2;
}
.pix_builder_column .pix-ui:hover,
.pix_builder_column .pix-ui:active {
	background: #05aed8;
}
.pix_builder_column .pix_column_mover {
	cursor: move;
	font-size: 18px;
	left: 0;
	top: 0;
}
.pix_builder_column .pix_column_edit {
	left: 0;
	top: 74px;
}
.pix_builder_column .pix_column_clone {
	left: 0;
	top: 111px;
}
.pix_builder_column .pix_column_id {
	left: 0;
	top: 148px;
}
.pix_builder_column .pix_column_increase {
	line-height: 36px;
	right: 0;
	text-indent: 1px;
	top: 0;
}
.pix_builder_column .pix_column_reduce {
	line-height: 36px;
	right: 0;
	text-indent: 1px;
	top: 37px;
}
.pix_builder_column .pix_column_delete {
	bottom: 0;
	font-size: 18px;
	right: 0;
}
.pix_builder_column .pix_builder_content {
	bottom: 0;
	color: #ffffff;
	font-family: 'OpenSans';
	left: 45px;
	line-height: 1.7em;
	overflow: hidden;
	position: absolute;
	right: 45px;
	top: 20px;
	z-index: 0;
}
.pix_builder_column .pix_builder_prevent {
	background: url('../images/blank.gif');
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}
.pix_builder_column .pix_column_gradient {
	border-bottom: 10px solid #595959;
	bottom: 0;
	height: 80px;
	position: absolute;
	width: 100%;
	z-index: 2;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5NTk1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU5NTk1OSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(bottom, #595959 0%, rgba(90,90,90,0) 100%);
	background-image: -o-linear-gradient(bottom, #595959 0%, rgba(90,90,90,0) 100%);
	background-image: -webkit-linear-gradient(bottom, #595959 0%, rgba(90,90,90,0) 100%);
	background-image: linear-gradient(bottom, #595959 0%, rgba(90,90,90,0) 100%);
}
.pix_builder_column .pix_add_column {
	background: #5a5a5a;
	color: #ffffff;
	font-size: 21px;
	height: 46px;
	line-height: 47px;
	left: 50%;
	margin: -23px 0 0 -23px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 46px;
}
.pix_builder_column .pix_builder_content img {
	height: auto;
	max-width: 100%;
}
.pix_section_builder textarea,
#textarea_builder,
#pix_builder_id_fields,
#pix_builder_cant {
	display: none;
}
.wp-dialog.pix-dialog.pix-page-builder {
	z-index: 50!important;
}

#pix_loader_iframe {
	background: #eeeeee;
	bottom: 20px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}
#pix_loader_wrap {
	background: #ffffff;
	border-radius: 46px;
	box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.35);
	font-family: 'pixgridderfontello';
	left: 50%;
	margin: -23px;
	position: absolute;
	top: 50%;
	width:46px;
	height:46px;
}
#pix_loader_wrap:after {
	background: transparent;
	border-radius: 46px;
	box-shadow: 0 0 0 100px rgba(238,238,238,.7);
	content: '';
	height: 46px;
	left: 0;
	position: absolute;
	top: 0;
	width: 46px;
	z-index: 4;
}
#pix_loader_gear_1 {
	color: #55c0da;
	font-size: 32px;
	height: 32px;
	left: -2px;
	line-height: 32px;
	position: absolute;
	text-align: center;
	top: -5px;
	width: 32px;
	z-index: 1;
	-moz-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	-ms-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
#pix_loader_gear_2 {
	color: #91d2e2;
	font-size: 25px;
	height: 25px;
	line-height: 25px;
	right: -4px;
	top: 4px;
	position: absolute;
	text-align: center;
	width: 25px;
	z-index: 2;
	-moz-animation: spinBack 2s infinite linear;
	-webkit-animation: spinBack 2s infinite linear;
	-ms-animation: spinBack 2s infinite linear;
	animation: spinBack 2s infinite linear;
}
#pix_loader_gear_3 {
	color: #07a9d1;
	font-size: 44px;
	height: 44px;
	left: -3px;
	line-height: 44px;
	position: absolute;
	text-align: center;
	top: 21px;
	width: 44px;
	z-index: 3;
	-moz-animation: spinBack 2s infinite linear;
	-webkit-animation: spinBack 2s infinite linear;
	-ms-animation: spinBack 2s infinite linear;
	animation: spinBack 2s infinite linear;
}
#pix_loader_gear_1:after,
#pix_loader_gear_2:after,
#pix_loader_gear_3:after {
	content: '\ea24';
	display: block;
	vertical-align: middle;
}

@-moz-keyframes spin {
	0% { -moz-transform:rotate(360deg); }
	100% { -moz-transform:rotate(720deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(360deg); }
	100% { -webkit-transform:rotate(720deg); }
}
@-ms-keyframes spin {
	0% { -ms-transform:rotate(360deg); }
	100% { -ms-transform:rotate(720deg); }
}
@keyframes spin {
	0% { transform:rotate(360deg); }
	100% { transform:rotate(720deg); }
}
@-moz-keyframes spinBack {
	0% { -moz-transform:rotate(720deg);  }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinBack {
	0% { -webkit-transform:rotate(720deg);  }
	100% { -webkit-transform:rotate(360deg);  }
}
@-ms-keyframes spinBack {
	0% { -ms-transform:rotate(720deg);  }
	100% { -ms-transform:rotate(360deg);  }
}
@keyframes spinBack {
	0% { transform:rotate(720deg);  }
	100% { transform:rotate(360deg);  }
}

#pixgridder_builder,
#pixgridder_content {
	display: none!important;
}